@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600&family=Cabin:wght@400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Urbanist:wght@100;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
    font-family: 'Poppins', sans-serif;
}

body{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}